[credential]
	helper = store
[user]
	name = Troy Neubauer
	email = troyneubauer@gmail.com 
	signingkey = 124F3E491EE4E6D4
[pull]
	rebase = false
[gpg]
	program = gpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = false
	gpgSign = true

[includeIf "gitdir:~/null/"]
	#path = ~/.null.gitconfig

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"

